---
import Layout from "../layouts/Layout.astro";
import { AspectRatio } from "@/components/ui/aspect-ratio";
import { works } from "@/data/work";
---

<Layout title="Natalie Revorêdo | Arte, Dança e Iluminação Cênica">
  <div
    class="mx-auto max-w-5xl px-4 min-h-screen flex flex-col items-center pt-40 pb-40 text-center border border-white"
  >
    <h2 class="font-ralewayBold text-secondary text-2xl md:text-4xl mb-10">
      Trabalhos
    </h2>

    <div class="flex flex-col gap-y-20">
      {
        works.map((work) => (
          <div class="flex flex-col gap-y-10">
            <h3 class="font-ralewaySemiBold text-secondary text-xl md:text-2xl">
              {work.name}
            </h3>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
              {work.columns.map((column, colIndex) => (
                <div>
                  <figure>
                    <AspectRatio
                      ratio={16 / 9}
                      className="relative overflow-hidden shadow-dark-red rounded-lg"
                    >
                      {column.hasVideo ? (
                        <iframe
                          src={column.videoSrc}
                          title={`Video ${colIndex + 1}`}
                          class="w-full h-full rounded-lg object-cover shadow-dark-red"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen
                        />
                      ) : (
                        <img
                          src={column.imgSrc}
                          alt={`Imagem ${colIndex + 1}`}
                          class="w-full h-full object-cover transform transition-transform duration-500 hover:scale-105"
                        />
                      )}
                    </AspectRatio>
                    {column.caption && (
                      <figcaption class="mt-6 text-start font-openSansRegular text-secondary">
                        {column.caption}
                      </figcaption>
                    )}
                  </figure>

                  {column.subImgSrc && (
                    <div class="mt-8">
                      <AspectRatio
                        ratio={4 / 3}
                        className="w-3/4 relative overflow-hidden shadow-dark-red rounded-lg"
                      >
                        <img
                          src={column.subImgSrc}
                          alt={`Sub Imagem ${colIndex + 1}`}
                          class="h-full object-cover transform transition-transform duration-500 hover:scale-105"
                        />
                      </AspectRatio>
                    </div>
                  )}
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
